.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 25px;
    font-weight: 600;
    font-family: "Bona Nova", serif;
  }

  .phone-contact {
    font-weight: 600;
    font-size: 14px;
  }

  .email-contact {

  }

  .linkedin-contact {

  }
}